<!DOCTYPE html>
<html lang="en">
<head>
	<title>Welcome!</title>
	<meta charset="utf-8">
	<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
	<meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-8">
				<div class="alert alert-success" role="alert'">
					<h4 class="alert-heading">Success</h4>
                        <p>Welcome, <strong>{{ session['first_name'] }}</strong></p>
				</div>
			</div>
		</div>
	</div>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js">
	</script>
</body>
</html>